body {
    margin: 0;
    padding: 0;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

.top-navigation-bar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #19212E;
    overflow: hidden;
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.menu-toggle {
    display: none;
}

.nav-links a {
    min-width: 100px;
    padding: 14px 16px;
    font-size: 17px;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
    border-radius: 50px;
}

.nav-links a:hover,
.project a:hover {
    background-color: #495057;
    color: white;
}

.top-navigation-bar img {
    height: 80%;
    border-radius: 50%;
    position: absolute;
    left: 0;
    margin-left: 40px;
}

.main-presentation {
    display: flex;
    align-items: center;
    position: relative;
    padding: 240px 0% 170px 10%;
    border-top: 100px;
    background-color: #E9ECEF;
}

.main-presentation img {
    width: 30%;
    min-width: 250px;
    border-radius: 50%;
}

.presentation-text {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

h1 {
    font-size: clamp(3rem, 5vw, 4rem);
}

h2 {
    font-size: clamp(2rem, 5vw, 3rem);
}

h3 {
    font-size: clamp(1.5rem, 5vw, 2rem);
}

p {
    font-size: clamp(0.8rem, 5vw, 1.3rem);
}

.about-me {
    display: flex;
    align-items: center;
    position: relative;
    padding: 170px 10% 170px 10%;
    background-color: #DEE2E6;
    -webkit-box-shadow: 0px 0px 45px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 45px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 45px -6px rgba(0, 0, 0, 0.75);
}


.projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #E9ECEF;
    gap: 20px;
    padding: 170px 10% 170px 10%;
}

.projects h2 {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;

}

.projects-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    width: 100%;
    max-width: 400px;
    padding: 50px 0 50px 0;
}

.nav-container {
    display: flex;
    flex-direction: row;
}

.nav-container a {

    padding: 10px 10px;
    margin: 10px;
    font-size: 17px;
    background-color: #19212E;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
    border-radius: 50px;
}

.project-image {
    border-radius: 20px;
}

.project p {
    text-align: center;
    padding: 0 10px 0 10px;
}

.project img {

    height: 400px;
}

.overlay-menu {
    display: none;
}

.contact-me {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 170px 10% 170px 10%;
    background-color: #DEE2E6;
    -webkit-box-shadow: 0px 0px 45px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 45px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 45px -6px rgba(0, 0, 0, 0.75);
}

.contact-me h2 {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    max-width: 600px;
    gap: 20px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 20px;
    gap: 20px;
}

textarea[name="user_message"] {
    height: 200px;
}


.form input,
.form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
}

.form-subject {
    width: 100%;
}

.form-message {
    width: 100%;
}

.contact-me button {
    padding: 10px 10px;
    margin: 10px;
    font-size: 17px;
    background-color: #19212E;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
    border-radius: 50px;
}


@media (max-width: 1000px) {

    .top-navigation-bar img {
        display: none;
    }

    .nav-links a {
        display: none;
    }

    .menu-toggle {
        display: block;
        color: white;
        margin-right: auto;
        cursor: pointer;
        font-size: 2.5rem;
        margin-left: 30px;
    }

    .overlay-menu {
        display: flex;
        justify-content: flex-start;
        width: 60%;
        transition: all .5s ease;
        flex-direction: column;
        position: fixed;
        z-index: 10;
        top: 80px;
        min-height: 100vh;
        box-shadow: 0px -2px 10px black;
        backdrop-filter: blur(10px);
        left: -100%;
    }

    .overlay-menu a,
    .overlay-menu div {
        min-width: 100px;
        padding: 14px 16px;
        font-size: 17px;
        color: black;
        text-decoration: none;
        text-align: center;
        transition: background-color 0.3s ease;
        border-radius: 50px;
    }

    #open-menu {
        left: 0%;
    }

    #close-menu {
        left: -100%;
    }

    .overlay-content a {

        min-width: 100px;
        padding: 14px 16px;
        font-size: 17px;
        color: black;
        text-decoration: none;
        text-align: center;
        transition: background-color 0.3s ease;
        border-radius: 50px;
    }

    .nav-links.active {
        display: flex;
        justify-content: center;

    }

    .main-presentation {
        flex-direction: column;
        align-items: center;
        position: relative;
        padding: 240px 0 170px 0;
    }

    .main-presentation img {

        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .main-presentation .presentation-text {
        display: flex;
        padding-left: 0;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .projects {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #E9ECEF;
        gap: 20px;
        padding: 170px 10% 170px 10%;
    }

    .project-image {
        max-width: 100%;
        height: auto;
        object-fit: contain;
        padding: 10px 0px 10px 0px;
    }

    .contact-me {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .form-row {
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }
}